html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset { margin:0px; padding:0px; list-style:none; }
img, fieldset {	border: 0;}
/* set image max width to 100% */
img {
	max-width: 100%;
	/*
	height: auto;
	width: auto\9; 
	*//* ie8 */
}
body{font:.81em/150%  Microsoft yahei,Arial, Tahoma; color:#888;  background:#eff2f0;}

/* =============================================================================
   链接
   ========================================================================== */
a {	color: #888; text-decoration: none;	outline: none;}
a:hover { color:#68a639;}
/* 改善在所有浏览器中获取焦点和悬停时的可读性: h5bp.com/h */
a:hover, a:active { outline: 0; }

header{ float:left; width:100%; background:transparent/9; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff)/9; border-top:4px solid #68a639;  top:0px; left:0px; z-index:1100;  position:fixed;top:0; border-bottom:1px solid rgba(0,0,0,.25); background:rgba(255,255,255,.8);-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out; }
header{_position:absolute;_left:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop));}
header.sticky{background:#fff;border-bottom:0;box-shadow:0 1px 6px rgba(0,0,0,.2)}
.top{width:98%;	margin: 0 auto; position:relative;}
.top #logo{ float:left; width:325px; height:60px; line-height:60px; margin-top:18px; font-weight:normal; font-size:30px;  color:#68a639;}
.top #nav{ float:right;  width:640px;/*  margin-top:18px; */position:relative; z-index:22;}
.top #nav li{ float:left; width:80px; height:80px; line-height:80px; font-weight:bold; text-align:center; position:relative;}
.top #nav li a{ display:block; color:#555;}
.top #nav li#moved{ position:absolute; top:35px; top:71px\9; _top:67px; z-index:99; left:0px; height:9px;}
*+html .top #nav li#moved{top:35px;}

header.sticky .top #nav li a{ color:#888;}
.top #nav li a:hover{  color:#68a639;}
.top #nav li#navactive a{color:#68a639;}
header.sticky .top #nav li a:hover{color:#68a639;}


/* 语言的样式 */
.rtop{float:right;  width:560px;}
#lang{float:right; background:#B9D8A2; padding:0px 4px 3px; font-size:12px; font-family:Tahoma; color:#fff;  border-bottom-right-radius:3px; border-bottom-left-radius:3px; }
#lang a{ padding:0px 2px; color:#fff;}
#lang a:hover{color:#68a639;}
/* 搜索的样式 */
#btn{  cursor: pointer; padding:0px 2px; }
#btn:hover{ color:#68a639;}
#boxsear{position: fixed; right:1%; top:188px; width:190px; height:auto; float:right; z-index:2000;}
#boxsear{_position:absolute;_right:expression(eval(document.documentElement.scrollLeft));_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop,10)||240)-(parseInt(this.currentStyle.marginBottom,10)||0)));}
*html{background-image:url(about:blank);background-attachment:fixed; }/*解决IE6固定定位抖动问题*/
#searchform { background:rgba(255,255,255,.8); height:27px; padding:7px 8px; box-shadow:0 2px 3px rgba(0,0,0,.2); border-radius:4px; border-top-right-radius:0px;}
#searchform,#back{background:transparent/9; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff)/9;}
#keywords {float:left; width: 120px;  background: #fff; height:24px; line-height:24px; color:#888; font-family:Microsoft yahei,Arial; border:1px solid #bbb;	/* border radius */	-webkit-border-radius: 5px;	-moz-border-radius: 5px;
border-top-left-radius: 5px; border-bottom-left-radius: 5px;/* box shadow */-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2); box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	/* transition */
	-webkit-transition: width .7s;
	-moz-transition: width .7s;
	transition: width .7s;
}
#keywords:focus {border:1px solid #68a639;}
#bot{ float:right; width:50px; height:28px; background:#68a639; border:none; line-height:24px;border-radius: 5px;
	border-top-left-radius: 0px;	border-bottom-left-radius: 0px; color:#fff; cursor: pointer; font-weight:bold;}
#bot:hover{ background:#68a639;}
#back{ position:absolute; top:-20px; right:0px; float:right; width:34px; height:20px; background:rgba(255,255,255,.7);  border-top-right-radius:4px; border-top-left-radius:4px; cursor: pointer; box-shadow:0 -3px 5px rgba(0,0,0,.1);}
#back:hover{ background:rgba(255,255,255,.8);}	

/*BANNER*/
#banner{ float:none; width:100%;  margin:0px auto; }
#xiaoguo,#nyshow{ float:left; width:100%;  height:539px;  overflow:hidden;  background:#68a639 url(../images/banner_bg.jpg) repeat center center;  position:relative; border-bottom:1px solid #fff; }
.min_show{ float:left; width:100%;  height:300px; line-height:300px; text-align:center; padding-top:90px; display:none; font-size:30px; font-family:Microsoft yahei; background:#68a639 url(/wrisc/static/v2/images/banner_bg.jpg) repeat 0px 0px; color:#fff;}

footer{float:left; width:100%; background:#68A639; border-top:1px solid #497428;  color:#fff;}
#yj_cont{ float:none; width:1000px; margin:0px auto;}
#yj_cont .foot_nav{ float:left; height:46px; line-height:46px;}
#yj_cont .foot_nav a{ color:#fff; padding:0px 8px;}
#yj_cont .foot_nav a:hover{ color: #030;}

#yj_cont .bott_link{ float:right;  height:46px; line-height:46px;}
#yj_cont .bott_link a{ color:#A4D380; padding:0px 8px;}
#yj_cont .bott_link a:hover{ color: #030;}

#foot_cont{ float:left; width:100%; border-top:1px solid #91C868; padding:15px 0px;}
#ft_conbox{ float:left;}
#ft_conbox .yjlx{ float:left; height:40px; line-height:20px; background:url(/wrisc/static/v2/images/yjge.jpg) no-repeat right center; padding-right:22px; margin-right:22px; display:inline; }
#ft_conbox .time{ font-size:12px;}
#ft_conbox .network{  background:none; font-size:12px;}
#ft_conbox .network a{dispaly:inline; }


a#backtop{ float:right; width:38px; height:25px; margin-top:4px; background:url(/wrisc/static/v2/images/backtop.png) no-repeat 0px 0px; }

#copyright{ float:left; width:100%; background:#53842D url(/wrisc/static/v2/images/copybg.png) repeat-x 0px 0px; line-height:50px; color:#DFE6DB;  }
#copyright span{ float:right;}

/**居中样式**/
#page_content { float:none; margin:0px auto; width:1000px;}

@media only screen and (min-width:460px) and (max-width:959px){
	.top #logo{ float:none; width:325px; height:60px; line-height:60px; font-weight:normal; font-size:30px; margin:18px auto;  }
	.top #nav{ float:none; width:100%; margin:10px auto;}
    .top #nav li{ float:left; width:14%; height:50px; height:50px; line-height:50px; font-weight:bold; text-align:center;}
	.top #nav li#moved{ position:absolute; top:20px; top:41px\9;  z-index:99; left:0px; height:9px;}
	*+html .top #nav li#moved{top:30px;}
	.top #nav li a:hover{ background:none;}

}
@media only screen and (min-width:100px) and (max-width:459px){
	.top #logo{ float:none; width:325px; height:60px; line-height:60px; font-weight:normal; font-size:30px; margin:18px auto;  }
	.top #nav{ float:none; width:100%; margin:10px auto;}
	.top #nav li{ float:left; width:75px; height:50px; height:50px; line-height:50px; font-weight:bold; text-align:center;}
	.top #nav li a:hover{ background: url(/wrisc/static/v2/images/hoverbg.gif) no-repeat center bottom;}
	.top #nav li#moved{ display:none;}
	.top #nav li#navactive a{background: url(/wrisc/static/v2/images/hoverbg.gif) no-repeat center bottom;}

	}
@media only screen and (min-width:280px) and (max-width:360px)	{
	.top #logo{width:260px; height:48px; }
	.top #logo img{width:260px; height:48px; }
	
}
@media only screen and (min-width:100px) and (max-width:279px)	{
	.top #logo{width:208px; height:38px; }
	.top #logo img{width:208px; height:38px; }
}
/**BANNER小尺寸的样式**/
@media only screen and (min-width:0px) and (max-width:959px){
	#xiaoguo,#nyshow{ display:none;}
	.min_show{ display:block;}
}
/**BANNER小尺寸的样式**/
@media only screen and (min-width:720px) and (max-width:1000px){
	#yj_cont{ width:100%;}
}
@media only screen and (min-width:520px) and (max-width:719px){
	#yj_cont{ width:100%;}
	#yj_cont .foot_nav{ float:none; width:100%; line-height:40px; margin:0px auto; text-align:center;}
	#yj_cont .bott_link{ float:none; width:100%; line-height:40px; margin:0px auto; text-align:center;}
	#ft_conbox{ float:none; width:520px; margin:0px auto;}
	#ft_conbox .network{ margin-right:0px;}
}
@media only screen and (min-width:100px) and (max-width:519px){
	#yj_cont{ width:100%; height:auto;}
	#yj_cont .foot_nav{ float:none; width:100%; line-height:20px; margin:0px auto; text-align:center;}
	#yj_cont .bott_link{ float:none; width:100%; line-height:30px; margin:0px auto; text-align:center;}
	
	#ft_conbox{ float:none; width:95%; margin:0px auto;}
    #ft_conbox .yjlx{ width:100%; padding:4px 0px; margin:0px; background:none; text-align:center; border-bottom:1px dashed #91C868; }

	
}
@media only screen and (min-width:0px) and (max-width:620px){
	#backtop{ display:none;}
	
}
@media only screen and (min-width:0px) and (max-width:680px){
	#copyright{ text-align:center; line-height:24px; padding-top:10px;}
	#copyright span{ width:100%;}
}
@media only screen and (min-width:0px) and (max-width:959px){
	.rtop{ width:100%;}
	#lang{ display:none;}
}
@media only screen and (min-width:0px) and (max-width:1000px){
	#page_content {width:100%; }	
	
	}